body {
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}

.map {
	position: relative;
	text-align: center;
}

img {
	width: 90%;
}
#mp {
	width: 70%;
}
svg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.point {
	cursor: pointer;
}

#q1 {
	opacity: 0;
}
#q2 {
	opacity: 0;
}
#q3 {
	opacity: 0;
}
#q4 {
	opacity: 0;
}
#q5 {
	opacity: 0;
}
#q6 {
	opacity: 0;
}
#q7 {
	opacity: 0;
}
#q8 {
	opacity: 0;
}
#q9 {
	opacity: 0;
}
#q10 {
	opacity: 0;
}
#q11 {
	opacity: 0;
}


.description {
	font-size: 20px;
	display: none;
	border: 1px solid black;
	border-radius: 5px;
	position: absolute;
	padding: 5px;
	box-sizing: border-box;
	width: 30%;
	height: 60%;
	left: 50px;
	bottom: 50px;
	background-color: white; 
	overflow-y: auto;
}

.lang {
	width: 40px;
	height: 30px;
	margin-bottom: 4px;
	border: 1px solid black;
	border-radius: 5px;
}

#en {
	background-color: #C8E3D4;
}
#by {
	background-color: #C8E3D4;
}

.langbox {
	position: absolute;
	margin: 5px 0px 0px 5px;
	z-index: 1;
}

#check_yourself {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	margin-left: 10px;
	background-color: #C8E3D4;
	cursor: pointer;
}
#check_yourself:active {
	background-color: #87AAAA;
}
.check {
	border: 1px solid black;
	border-radius: 5px;
	padding: 10px 10px 10px 10px;
	margin-left: 10px;
	background-color: #C8E3D4;
	cursor: pointer;
}
.check:active {
	background-color: #87AAAA;
}

.quiz_by {
	margin-left: 10px;
	font-size: 20px;
	display: none;
}
.quiz_en {
	margin-left: 10px;
	font-size: 20px;
	display: none;
}
.w1_1 {color:black;}
.w1_2 {color:black;}
.w1_3 {color:black;}
.w2_1 {color:black;}
.w2_2 {color:black;}
.w2_3 {color:black;}
.w3_1 {color:black;}
.w3_2 {color:black;}
.w3_3 {color:black;}
.w4_1 {color:black;}
.w4_2 {color:black;}
.w4_3 {color:black;}
.w5_1 {color:black;}
.w5_2 {color:black;}
.w5_3 {color:black;}
.w6_1 {color:black;}
.w6_2 {color:black;}
.w6_3 {color:black;}
.w7_1 {color:black;}
.w7_2 {color:black;}
.w7_3 {color:black;}
.w8_1 {color:black;}
.w8_2 {color:black;}
.w8_3 {color:black;}
.w9_1 {color:black;}
.w9_2 {color:black;}
.w9_3 {color:black;}
.w10_1 {color:black;}
.w10_2 {color:black;}
.w10_3 {color:black;}
dfn {
	margin-left: 10px;
}